$primary: rgb(238, 38, 35);
$secondary: rgb(23, 44, 75);
$alt-secondary: rgb(79, 190, 218);
$tertiary: rgb(250, 131, 127);
$alt-tertiary: rgb(170, 200, 243);
$background: rgb(21, 30, 44);
$alt-background: rgb(255, 255, 255);
$contrast: #c0f5bf;
$low-contrast: rgb(251, 133, 0);
$high-contrast: #c6c6c6;
$bar-primary: rgb(82, 100, 174);
$btn-shadow-color: rgb(56, 42, 138);

$deposit-color: rgb(62, 224, 153);
$withdrawal-color: rgb(224, 62, 133);
$balance-color: rgb(62, 214, 224);

$default-box-shadow: -2px 7px 7px rgba(0, 0, 0, 0.15);
$footer-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15);
$default-border-radius: 8px;

$cmd-font: "Source Code Pro", monospace;
$code-font: "JetBrains Mono", monospace;
$default-font: "Varela Round", sans-serif;
$lesser-info-color: rgb(177, 169, 191);
